.login {
    background-color: lightblue;
    border: 5px outset rgb(170, 9, 9);
    text-align: center;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 3px;
}
.button {
    border: 2px outset black;
    border-radius: 25px;
    color: rgb(170, 9, 9);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;    
}